<ion-header>
  <ion-toolbar color="success">
    <ion-title>{{membership}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="viewCreateMemberPage()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="true" *ngFor="let member of members | async"
      (click)="viewMemberDetailsPage(member)">
      <ion-grid>
        <ion-row>
          <ion-label>{{member.lastName}}, {{member.firstName}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note color="medium">{{member.title}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member.company}}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>