<ion-header>
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <!-- <ion-segment>
    <ion-segment-button value="fullAgenda">
      <ion-label>Full Agenda</ion-label>
    </ion-segment-button>
    <ion-segment-button value="myAgenda">
      <ion-label>My Agenda</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="sunday">Sun</ion-segment-button>
    <ion-segment-button value="monday">Mon</ion-segment-button>
    <ion-segment-button value="tuesday">Tue</ion-segment-button>
    <ion-segment-button value="wednesday">Wed</ion-segment-button>
    <ion-segment-button value="thursday">Thu</ion-segment-button>
    <ion-segment-button value="friday">Fri</ion-segment-button>
    <ion-segment-button value="saturday">Sat</ion-segment-button>
  </ion-segment> -->

  <ion-list>
    <ion-item detail="true" *ngFor="let event of events">
      <ion-grid>
        <ion-row>
          <ion-label color="primary">{{event.startDateTime | date: 'EEEE'}} {{event.startDateTime | date: 'MMM d'}}
          </ion-label>
          <ion-label color="primary">({{event.startDateTime | date: 'shortTime'}} -
            {{event.endDateTime | date: 'shortTime'}})</ion-label>
        </ion-row>

        <ion-row>
          <ion-label>{{event.membership}} - {{event.name}}</ion-label>
        </ion-row>

        <ion-row>
          <ion-note color="primary">{{event.note}}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>