<ion-header>
  <ion-toolbar>
    <ion-title>Speakers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-label>Click a Speaker to view their bio.</ion-label>
  </ion-item>
  <ion-list padding>
    <ion-item *ngFor="let speaker of speakers" (click)="onClickedViewSpeakerBio(speaker)">
      <ion-thumbnail slot="start">
        <img src="{{speaker.imageUrl}}">
      </ion-thumbnail>
      <ion-label>
        <h2 class="primary">{{speaker.firstName}} {{speaker.lastName}}</h2>
        <h3>{{speaker.role}}</h3>
        <p>{{speaker.title}}</p>
      </ion-label>

      <!-- <ion-grid>
        <ion-row justify-content-center>
          <img src="{{speaker.imageUrl}}">
        </ion-row>
        <ion-row>
          <br>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label color="primary">{{speaker.firstName}}, {{speaker.role}}</ion-label>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label>{{speaker.title}}</ion-label>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label>{{speaker.company}}</ion-label>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label>{{speaker.address1}}</ion-label>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label>{{speaker.city}}, {{speaker.state}} {{speaker.zip}}</ion-label>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label>{{speaker.phone1}}</ion-label>
        </ion-row>
        <ion-row justify-content-center>
          <ion-label>{{speaker.email}}</ion-label>
        </ion-row>
        <ion-row>
          <br>
        </ion-row>
        <ion-row>
          <ion-note>{{speaker.bio}}</ion-note>
        </ion-row>
      </ion-grid> -->
    </ion-item>
  </ion-list>
</ion-content>