<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="spacer"></div>
  <img src="../../assets/images/GMISLogo.png" />
  <div class="spacer"></div>
  <form>
    <ion-item>
      <ion-input type="email" [(ngModel)]="user.email" name="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Password"></ion-input>
    </ion-item>
  </form>
  <div class="spacer"></div>
  <ion-button color="light" (click)="login()" expand="block">Log in</ion-button>
  <ion-button fill="clear" expand="block">Or create an account</ion-button>
</ion-content>