<ion-content padding>
  <div class="spacer"></div>
  <img src="../../assets/images/GMISLogo.png" />
  <div class="spacer"></div>
  <form>
    <ion-item>
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
  </form>
  <div class="spacer"></div>
  <ion-button color="light" expand="block">Log in</ion-button>
  <ion-button fill="clear" expand="block">Or create an account</ion-button>
</ion-content>