<ion-header>
  <ion-toolbar color="success">
    <ion-title>New Member</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBackToMembersDirectoryPage()">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="light">
      <ion-text>
        <p>Member Details</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member['First Name']" placeholder="First Name" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="member['Last Name']" placeholder="Last Name" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member['Title']" placeholder="Title" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member['Company']" placeholder="Company" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" [(ngModel)]="member['Email']" placeholder="Email" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="tel" [(ngModel)]="member['Phone']" placeholder="Phone" clearInput></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-text>
        <p>Address</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member['Address Line 1']" placeholder="Address Line 1" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member['Address Line 2']" placeholder="Address Line 2" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member['City']" placeholder="City" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="member['State']" placeholder="State" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="member['Zip']" placeholder="Zip Code" clearInput></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="createMember()">
    Create {{membership}} Member
  </ion-button>
</ion-content>