<ion-header>
  <ion-toolbar>
    <ion-title>New Member</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" (click)="goBackToMembersDirectoryPage()">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="light">
      <ion-text>
        <p>Member Details</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="firstName" placeholder="First Name" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="lastName" placeholder="Last Name" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="title" placeholder="Title" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="company" placeholder="Company" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" placeholder="Email" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="phone" placeholder="Phone" clearInput></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-text>
        <p>Address</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="address1" placeholder="Address Line 1" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="address2" placeholder="Address Line 2" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="city" placeholder="City" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="state" placeholder="State" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="zip" placeholder="Zip Code" clearInput></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full"
    (click)="createMember(firstName, lastName, email, phone, address1, address2, city, state, zip, title, company)">
    Create {{membership}} Member
  </ion-button>
</ion-content>