<ion-header>
  <ion-toolbar>
    <ion-title>New Member</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" (click)="goBackToMembersDirectoryPage()">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="light">
      <ion-text>
        <p>Member Details</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member.firstName" placeholder="First Name" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="member.lastName" placeholder="Last Name" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member.title" placeholder="Title" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member.company" placeholder="Company" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" [(ngModel)]="member.email" placeholder="Email" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="tel" [(ngModel)]="member.phone" placeholder="Phone" clearInput></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-text>
        <p>Address</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member.address1" placeholder="Address Line 1" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member.address2" placeholder="Address Line 2" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="member.city" placeholder="City" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="member.state" placeholder="State" clearInput></ion-input>
      <ion-input type="text" [(ngModel)]="member.zip" placeholder="Zip Code" clearInput></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full"
    (click)="addMember(item)">
    Create {{membership}} Member
  </ion-button>
</ion-content>