<ion-header>
  <ion-toolbar  color="success">
    <ion-title>Member Edit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-label class="header">{{member.firstName}} {{member.lastName}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label>{{member.title}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-note>{{member.company}}</ion-note>
      </ion-row>
      <ion-row>
        <ion-note>{{member.email}}</ion-note>
      </ion-row>
      <ion-row>
        <ion-note>{{member.phone}}</ion-note>
      </ion-row>
      <ion-row>
        <ion-note>{{member.address1}}</ion-note>
      </ion-row>
      <ion-row>
        <ion-note>{{member.address2}}</ion-note>
      </ion-row>
      <ion-row>
        <ion-note>{{member.city}}, {{member.state}} {{member.zip}}</ion-note>
      </ion-row>
      <ion-row>&nbsp;</ion-row>
    </ion-grid>
  </ion-item>
  <ion-button color="danger" expand="block" (click)="presentActionSheet()">Delete Member</ion-button>
</ion-content>