<ion-header>
  <ion-toolbar>
    <ion-title>
      Announcements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let announcement of announcements">
    <ion-item *ngIf="announcement.type === 'alert'">
      <ion-label text-wrap>{{announcement.message}}</ion-label>
      <ion-note>Posted - {{announcement.date | date: 'shortTime': '+0'}}</ion-note>
      <ion-icon color="danger" name="alert" slot="start"></ion-icon>
    </ion-item>
    <ion-item *ngIf="announcement.type === 'message'">
      <ion-label text-wrap>
        <p>{{announcement.message}}</p>
        <p><ion-note>Posted - {{announcement.date | date: 'shortTime': '+0'}}</ion-note></p>
      </ion-label>
      <ion-icon name="text" slot="start"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>