<ion-header>
  <ion-toolbar>
    <ion-title>{{membership}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBackToMembersPage()">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="add" (click)="goToCreateMember()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let member of members">
      <ion-grid>
        <ion-row>
          <ion-label class="header">{{member["Last Name"]}}, {{member["First Name"]}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label color="primary">{{member["Title"]}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note>{{member["Company"]}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member["Phone"]}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member["Email"]}}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>