<ion-header>
  <ion-toolbar color="success">
    <ion-title>{{membership}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToCreateMember()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="true" *ngFor="let member of members$ | async; let i = index" (click)="goToMemberDetailsPage(member, i)">
      <ion-grid>
        <ion-row>
          <ion-label class="header">{{member["Last Name"]}}, {{member["First Name"]}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>{{member["Title"]}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note>{{member["Company"]}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member["Phone"]}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member["Email"]}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member.key}}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>