// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.header {
    padding-left: 0;
    font-size: 1.25em;
    font-weight: bold;
}

.primary {
    color: #3880ff;
}

.danger {
    color: #f04141;
}

.teal {
    background-color: #2bbbad;
    color: #fff;
}

.spacer {
    height: 5%;
}

.pt-1 {
    padding-top: 1em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pr-1 {
    padding-right: 1em;
}

.pl-1 {
    padding-left: 1em;
}
