<ion-header>
  <ion-toolbar>
    <ion-title>Member Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="viewMemberEditPage()">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-label class="header">{{member.firstName}} {{member.lastName}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>{{member.title}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note>{{member.company}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member.email}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member.phone}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member.address1}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member.address2}}</ion-note>
        </ion-row>
        <ion-row>
          <ion-note>{{member.city}}, {{member.state}} {{member.zip}}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>