<ion-header>
  <ion-toolbar color="success">
    <ion-title>Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card (click)="goToMembersList('CGCIO')">
    <img src="../../assets/images/CGCIO.jpg" class="card-image" />
    <ion-card-title class="card-title">CGCIO</ion-card-title>
  </ion-card>

  <ion-card (click)="goToMembersList('LGCIO')">
    <img src="../../assets/images/LGCIO.jpg" class="card-image" />
    <ion-card-title class="card-title">LGCIO</ion-card-title>
  </ion-card>

  <ion-card (click)="goToMembersList('Geek Trak')">
    <img src="../../assets/images/GeekTrak.jpg" class="card-image" />
    <ion-card-title class="card-title">Geek Trak</ion-card-title>
  </ion-card>
</ion-content>